@use '../base/index' as *;
@use '../partials/variables' as *;


.page-top {
    height: 17.625rem;
    background-color: $bg-light;
    padding: 0 240px;

    .page-top-wrap {
        height: 100%;
        width: 100%;
        background-image: url("/assets/img/PNG-Image-1061-×-559-pixels-2-1-1-1.png");
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover;

        display: flex;
        flex-direction: column;       // stack h1 and ul vertically
        justify-content: center;      // vertical center
        align-items: center;          // horizontal center
        text-align: center;           // center text
        
    }
}
