@use '../base/index' as *;
@use '../partials/variables' as *;


.team-card {
    position: relative;
    overflow: hidden;

    .social-media {
        position: absolute;
        top: 1rem;
        right: 1rem;
        opacity: 0;
        transform: translateX(50px); // start off to the right
        transition: opacity 0.4s ease, transform 0.4s ease;

        .social-link {
            background-color: $bg-white;
            width: 1.8rem;
            height: 1.8rem;
            line-height: 20px;
            text-align: center;
            margin-bottom: .5rem;
            padding: 4px;
            transition: background-color 0.4s, color 0.4s;
            

            &:hover {
                background-color: $secondary;

                i {
                    color: $white;
                }
            }
        }
    }

    &:hover {
        .social-media {
            opacity: 1;
            transform: translateX(0); // slide into place
        }
    }
}
