

// colors
$primary: #0072BC;
$secondary: #F36E21;
$dark: #282F33;
$warning: #DABA32;
$info: #53AAE8;
$danger: #D94D4C;
// $danger: #ED302B;
$white: #ffffff;
$light: #F8F9FA;
// $light: #F4F6FD;

$primary-light: lighten($color: $primary, $amount: 44);
$secondary-light: lighten($color: $secondary, $amount: 44);


// typhography color 
$heading-color: $dark;
$sub-heading-color: $dark;
$title-color: $dark;
$sub-title-color: $dark;
$text-color: lighten($color: $dark, $amount: 40);
$small-text-color: $dark;

// background color 
$bg-primary: $primary;
$bg-white: $white;
$bg-light: $light;
$bg-deep: #F3F3F3;
$bg-dark: $dark;



