@use '../base/index' as *;
@use '../partials/variables' as *;



.footer{
    background-color: $primary;

    .footer-card{
        .logo{
            width: 14rem;
            height: auto;
        }
        .sub-heading{
            color: $white;
        }
        .footer-link{
            margin-top: 1rem;
            .link{
                color: lighten($color: $primary, $amount: 30);
                text-transform: capitalize;
                &:hover{
                    color: $white;
                }
                i{color: lighten($color: $secondary, $amount: 20);}
            }
        }

        .card-text{
            color: darken($color: $light, $amount: 10);
            padding-right: 9rem;
        }
        .form-control{
            background-color: lighten($color: $primary, $amount: 7);
            border: 1px solid $primary;
            height: 100%;
            color: $primary;
            &:focus{
                background-color: lighten($color: $primary, $amount: 14);
            }
            &::placeholder{
                color: darken($color: $light, $amount: 12);
                opacity: .5;
            }
        }
        // .btn{height: 2.6rem;}
    }

    .copy-right{
        color: darken($color: $light, $amount: 10);
        font-size: .875rem;
        font-weight: 400;
    }
    .brand-name{
        color: $white;
        font-weight: 500;
    }
}

.social-media{
    .social-link{
        margin-left: 1rem;
        &:first-child{
            margin-left: 0;
        }
        a{
            color: lighten($color: $primary, $amount: 16);
            transition: .4s;
            &:hover{
                color: $white;
            }
        }
    }
}