
@use '../base/index' as *;
@use '../partials/variables' as *;



.contact-form{


    


    
    form{
        padding: 0 154px;
        margin-top: 4.6rem;
        .form-control{
            padding: 10px 18px 14px 18px;
            border-radius: 0;
            // &::placeholder{
            //     color: red;
            // }
            &:focus{
                color: lighten($color: $dark, $amount: 40);
            }
        }
    }
}

.contact-info{
    .contact-info-wrap{
        padding: 0 154px;
        .contact-card{
            // border: 1px solid $dark;
            transition: .4s;
            padding: 32px;
            // border-radius: 10px;
            height: 100%;
            background: $bg-white;
            // box-shadow: $shadow-lg;
            img{
                margin-bottom: 18px ;
            };
            &:hover{
                box-shadow: $shadow-lg;
                border: none;
                img {
                    animation: shakeRotateFixed 0.6s ease-in-out;
                    transform-origin: bottom right; /* Fix the rotation around the bottom-left corner */
                    
                }
            }
            .text{font-size: 18px; margin: 0 !important;}
        }
    }
}